.detail-quiz-container {
    display: flex;
    gap    : 20px;
    padding: 100px;

    .left-content {
        width : 70%;
        border: 1px solid red;

        .title {
            font-size  : 30px;
            font-weight: 700;
        }

        .q-content {
            .question {
                font-size  : 20px;
                font-weight: 600;
            }

            .answer {}
        }

        .q-imgage {
            width: 300px;
        }

        ;

        .footer {
            display        : flex;
            gap            : 20px;
            justify-content: center;
        }
    }

    .right-content {
        border: 1px solid green;
        width : 30%;
    }
}