.list-quiz-container {
    display  : flex;
    flex-wrap: wrap;
    gap      : 50px;

    .list-quiz-none {
        margin-top    : 24px;
        font-size     : 24px;
        letter-spacing: normal;
        line-height   : 133%;
        text-align    : center;
        margin        : auto
    }
}