@keyframes dvWuPe {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.admin-container {
    display       : flex;
    flex-direction: row;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height       : 60px;
            border-bottom: 1px solid #cccccc;
            padding      : 0 20px 0px 10px;
        }

        .leftSide {
            cursor   : pointer;
            font-size: 20px;
            color    : #666666
        }

        .rightSide {}

        .admin-main {
            border: 1px solid transparent;
            height: calc(100vh - 50px);
        }
    }
}